{% extends 'base.html'%}
{% load static %}
{% block content %}
<script id="js" src="{% static 'main.js' %}"
    defer
    data-item-id="{{ item.pk }}"
></script>
<script src="https://js.stripe.com/v3/"></script>
<div class="container">
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Название</th>
          <th scope="col">Описание</th>
          <th scope="col">Цена</th>
          <th scope="col">Валюта</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ item.pk }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.currency }}</td>

        </tr>
      </tbody>
  </table>
</div>
<section class="section">
    <div class="container">
        <button class="button is-primary" id="submitBtn">Purchase!</button>
    </div>
</section>
{% endblock %}